<form class="d-flex flex-column gap-2" {{on "submit" this.onSubmit}}>
  <label class="form-label" for="name">Name</label>
  <Input
    class="form-control"
    {{on "input" this.updateName}}
    id="name"
    type="text"
    @value={{this.name}}
  />

  <label class="form-label" for="breed">Breed</label>
  <Input
    class="form-control"
    {{on "input" this.updateBreed}}
    id="breed"
    type="text"
    @value={{this.breed}}
  />

  <label class="form-label" for="owner">Owner</label>
  <Input
    class="form-control"
    {{on "input" this.updateOwner}}
    id="owner"
    type="text"
    @value={{this.owner}}
  />

  <label class="form-label" for="size">size</label>
  <select
    class="form-select"
    {{on "change" this.updateSize}}
    name="size"
    id="size"
  >
    <option value="">--Select a size--</option>
    <option value="xs">XS</option>
    <option value="sm">SM</option>
    <option value="md">MD</option>
    <option value="lg">LG</option>
    <option value="xl">XL</option>
    <option value="chonk">CHONK</option>
  </select>

  <label class="form-label" for="description">Description</label>
  <Input
    class="form-control"
    {{on "input" this.updateDescription}}
    id="description"
    type="text"
    @value={{this.description}}
  />

  <button type="submit" class="btn btn-primary">Submit</button>
  <button
    type="button"
    class="btn btn-secondary"
    {{on "click" @onCancel}}
  >Cancel</button>
</form>