<input
  type="text"
  placeholder="Search dogs..."
  {{on "input" (fn @onUpdateSearch)}}
/>

<div>
  <label>Breed:</label>
  <select {{on "change" (fn @onUpdateSelectedBreed)}}>
    <option value="">All Breeds</option>
    {{#each @uniqueBreeds as |breed|}}
      <option value={{breed}}>{{breed}}</option>
    {{/each}}
  </select>

  <label>Owner:</label>
  <select {{on "change" (fn @onUpdateSelectedOwner)}}>
    <option value="">All Owners</option>
    {{#each @uniqueOwners as |owner|}}
      <option value={{owner}}>{{owner}}</option>
    {{/each}}
  </select>

  <label>Size:</label>
  <select {{on "change" (fn @onUpdateSelectedSize)}}>
    <option value="">All Sizes</option>
    {{#each @uniqueSizes as |size|}}
      <option value={{size}}>{{size}}</option>
    {{/each}}
  </select>
</div>

<table>
  <thead>
    <tr>
      <th {{on "click" (fn @onSetSort "name")}}>Name</th>
      <th {{on "click" (fn @onSetSort "breed")}}>Breed</th>
      <th {{on "click" (fn @onSetSort "owner")}}>Owner</th>
      <th {{on "click" (fn @onSetSort "size")}}>Size</th>
      <th {{on "click" (fn @onSetSort "description")}}>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each @dogs as |dog|}}
      <tr>
        <LinkTo @route="dog" @model={{dog}}>
          <td>{{dog.name}}</td>
        </LinkTo>
        <td>{{dog.breed}}</td>
        <td>{{dog.owner}}</td>
        <td>{{dog.size}}</td>
        <td>{{dog.description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>