<h2>{{@title}}</h2>

<ul>
  {{#each @dogs as |dog|}}
    <li class="d-flex justify-content-between my-2">
      <div class="d-flex align-items-center w-100 gap-4">
        <div>{{dog.name}}</div>
        <div>{{dog.breed}}</div>
        <div>{{dog.owner}}</div>
        <div>{{dog.size}}</div>
        <div>{{dog.description}}</div>
      </div>
    </li>
  {{/each}}
</ul>