{{page-title "Dogs"}}

<div>
  <div class="d-flex justify-content-between align-items-center">
    <h2>List of Dogs</h2>
    <button
      class="btn btn-primary"
      {{on "click" this.toggleAdd}}
      type="button"
    >{{if this.isAdding "Cancel" "Add Dog"}}</button>
  </div>

  {{#if this.errorMessage}}
    <div class="alert alert-danger">{{this.errorMessage}}</div>
  {{/if}}

  {{#if this.isAdding}}
    <Dog::Form
      @onSave={{this.handleSave}}
      @onCancel={{this.toggleAdd}}
      @onError={{this.setErrorMessage}}
    />
  {{else}}
    <DogList @dogs={{@model}} @onDelete={{this.handleDelete}} />
  {{/if}}
</div>