{{page-title "Dogs"}}

<div class="d-flex flex-column gap-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2>List of Dogs</h2>
    <button
      class="btn btn-primary"
      {{on "click" this.toggleAdd}}
      type="button"
    >{{if this.isAdding "Cancel" "Add Dog"}}</button>
  </div>

  {{#if this.errorMessage}}
    <div class="alert alert-danger">{{this.errorMessage}}</div>
  {{/if}}

  {{#if this.isAdding}}
    <Dog::Add
      @onSave={{this.handleSave}}
      @onCancel={{this.toggleAdd}}
      @onError={{this.setErrorMessage}}
    />
  {{else}}
    <Dog::List
      @dogs={{this.filteredAndSortedDogs}}
      @uniqueBreeds={{this.uniqueBreeds}}
      @uniqueOwners={{this.uniqueOwners}}
      @uniqueSizes={{this.uniqueSizes}}
      @onUpdateSearch={{this.updateSearchTerm}}
      @onSetSort={{this.setSortKey}}
      @onDelete={{this.handleDelete}}
      @onUpdateSelectedBreed={{this.updateSelectedBreed}}
      @onUpdateSelectedOwner={{this.updateSelectedOwner}}
      @onUpdateSelectedSize={{this.updateSelectedSize}}
    />
  {{/if}}
</div>